﻿<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>

  <div class="panel-body">
    <form class="form-horizontal"
          novalidate
          (ngSubmit)="saveDivision()"
          [formGroup]="divisionForm">
      <fieldset>
        <input id="mode" type="hidden" formControlName="mode" />
        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.division_id }">
          <label class="col-md-2 control-label" for="division_id">Division ID</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="division_id"
                   type="text"
                   placeholder="Division ID (required)"
                   formControlName="division_id" />
            <span class="help-block" *ngIf="displayMessage.division_id">
              {{displayMessage.division_id}}
            </span>
          </div>
        </div>
        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.division_name }">
          <label class="col-md-2 control-label" for="division_name">Division Name</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="division_name"
                   type="text"
                   placeholder="Name (required)"
                   formControlName="division_name" />
            <span class="help-block" *ngIf="displayMessage.division_name">
              {{displayMessage.division_name}}
            </span>
          </div>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.sort_no }">
          <label class="col-md-2 control-label" for="sort_no">sort_no</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="sort_no"
                   type="text"
                   placeholder="sort_no (required)"
                   formControlName="sort_no" />
            <span class="help-block" *ngIf="displayMessage.sort_no">
              {{displayMessage.sort_no}}
            </span>
          </div>
        </div>
        <div class="form-group"
             [ngClass]="{'has-error': displayMessage.display_flg }">
          <label class="col-md-2 control-label" for="display_flg">display_flg</label>

          <div class="col-md-8">
            <input class="form-control"
                   id="display_flg"
                   type="text"
                   placeholder="display_flg (required)"
                   formControlName="display_flg" />
            <span class="help-block" *ngIf="displayMessage.display_flg">
              {{displayMessage.display_flg}}
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary"
                      type="submit"
                      style="width:80px;margin-right:10px"
                      [disabled]='!divisionForm.valid'>
                Save
              </button>
            </span>
            <span>
              <a class="btn btn-default"
                 style="width:80px"
                 [routerLink]="['/divisions']">
                Cancel
              </a>
            </span>
            <span>
              <a class="btn btn-default"
                 style="width:80px"
                 (click)="deleteDivision()">
                Delete
              </a>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    <br />dirty:{{divisionForm.dirty}}
    <br />Touched:{{divisionForm.touched}}
    <br />valid:{{divisionForm.valid}}
    <br />value:{{divisionForm.value | json}}
  </div>

</div>
