﻿<div class='panel panel-primary' *ngIf='division'>
  <div class='panel-heading' style='font-size:large'>
    {{pageTitle + ': ' + division.division_name}}
  </div>

  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-3'>id:</div>
          <div class='col-md-6'>{{division.division_id}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Name:</div>
          <div class='col-md-6'>{{division.division_name}}</div>
        </div>
       
      </div>

      <div class='col-md-6'>
        <!--<img class='center-block img-responsive'
             [style.width.px]='200'
             [style.margin.px]='2'
             [src]='division.imageUrl'
             [title]='division.divisionName'>-->
      </div>
    </div>
  </div>

  <div class='panel-footer'>
    <span>
      <a class='btn btn-default' (click)='onBack()' style='width:80px'>
        <i class='glyphicon glyphicon-chevron-left'></i> Back
      </a>
    </span>
    <span>
      <a class="btn btn-primary"
         style="width:80px"
         [routerLink]="['/divisionEdit', division.division_id]">
        Edit
      </a>
    </span>
  </div>
</div>