/* -- Responsive Style -- */

@media (max-width: 1200px) {}

@media (max-width: 991px) {}


@media (min-width: 768px) and (max-width: 991px) {

}

@media(max-width:767px) {

}

@media (max-width: 540px) {

}

@media(max-width:480px) {
#head h1 {
    color: #fff;
    font-size: 24px;
    line-height: 34px;
}
.overlay {
    padding-top: 145px;
    background-color: rgba(23, 23, 23, 0.5);
}
.lpd-main-title {
    padding: 20px 0;
    text-align: center;
}
#plan .plan-container {
    background: #f2f4f6;
    padding: 25px;
    margin-bottom: 25px;
}
}