﻿
body {
}
@charset "utf-8";
/* CSS Document */

/* generel css*/
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 15px;
  line-height: 24px;
  color: #666;
  font-weight: 400;
  margin: 0;
}

a {
  color: #00AFF0;
  text-decoration: none;
}

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

    a:hover {
      color: #555;
      text-decoration: none;
    }

    a:focus {
      outline: none;
      text-decoration: none;
    }

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* landing page color */
.lp-color {
  color: #00AFF0;
}

/* Headings & Paragraph */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: #555;
  cursor: default;
}

h1, .h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 68px;
  margin-bottom: 20px;
}

h2, .h2 {
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
}

h3, .h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 18px;
}

h4, .h4 {
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 15px;
}

h5, .h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}

h6, .h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #9a9a9a;
}

/* fonts sizes css */
.font-20 {
  font-size: 20px;
}

.font-40 {
  font-size: 33px;
}

.font-60 {
  font-size: 60px;
}

/* padding css */
.p-t-150 {
  padding-top: 150px;
}

.p-t-100 {
  padding-top: 100px;
}

.p-t-80 {
  padding-top: 80px;
}

.p-t-60 {
  padding-top: 60px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-b-150 {
  padding-bottom: 150px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.p-b-80 {
  padding-bottom: 80px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-r-60 {
  padding-right: 60px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-l-60 {
  padding-left: 60px;
}

.p-l-40 {
  padding-left: 40px;
}

.p-l-20 {
  padding-left: 20px;
}

.no-p-t {
  padding-top: 0;
}

.no-p-b {
  padding-bottom: 0;
}

.no-p-r {
  padding-right: 0;
}

.no-p-l {
  padding-left: 0;
}

/* margin css */
.m-t-150 {
  margin-top: 150px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-150 {
  margin-bottom: 150px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.no-m-t {
  margin-top: 0;
}

.no-m-b {
  margin-bottom: 0;
}

.no-m-r {
  margin-right: 0;
}

.no-m-l {
  margin-left: 0;
}

/* text alignment css*/
.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.text-center {
  text-align: center
}


/* section css*/
section {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}

  section.grey-bg {
    background: #f4f6f8;
  }

.overlay {
  padding-top: 270px;
  background-color: rgba(23, 23, 23, 0.5);
}

.nav-contents {
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 15px;
  z-index: 999;
}

#head {
  background: url(../../assets/img/bg.png) center top repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo-area img {
  width: 140px;
  float: left;
}
.logo-area ul {
  float: right;
}
.logo-area ul li {
    color: #fff;
}

#head h1 {
  color: #fff;
  font-size: 36px;
}

.lp-title {
  text-align: center;
}

  .lp-title p {
    color: #fff;
  }

.app-screen img {
  display: block;
}

.lpd-main-title {
  padding: 135px 0;
}

/* button css */
.btn {
  display: inline-block;
  padding: 13px 25px;
  margin-bottom: 7px;
  margin-right: 5px;
  font-size: 14px;
  min-width: 140px;
  font-weight: 700;
  vertical-align: middle;
  white-space: pre-line;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  background: #00AFF0;
  border-color: #00AFF0;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn-transparent {
  background: transparent;
  color: #00AFF0;
  border-color: #00AFF0;
}

.left-contents {
  float: left;
}

.right-contents {
  float: right;
}

.f-contents {
  text-align: center;
  padding-top: 60px;
}

.f-content-2 {
  text-align: center;
  padding-top: 60px;
}

/* plan section css */
#plan .plans {
  border-radius: 5px;
}

#plan .plan-container {
  background: #f2f4f6;
  padding: 25px;
}

#plan .plans .title {
  font-size: 24px;
  font-weight: bold;
}

#plan .plans .service {
  font-size: 18px;
  line-height: 26px;
}

#plan .plans .contract {
  font-size: 14px;
}

.form {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #DDD;
  padding: 15px;
  font-size: 16px;
  width: 100%;
}



.footer {
  background: #1C2B36;
}

.copyright {
  padding: 15px;
  margin: 0;
}