<nav class="nav-contents">
	<div class="container">
		<div class="logo-area">
		<a href="#head">
		<img src="assets/img/leopold-logo.png" alt="leopold-logo">
    </a>
    <ul>
      <li><a href="/#/welcome/" class="smoothScroll">ABOUT smaug</a></li>
    </ul>
		</div>
	</div>
 </nav>
  <!-- head section start-->
  <section id="head" class="no-p-t no-p-b">
    <div class="overlay">
      <div class="container">
        <div class="col-md-12 col-sm-12 lp-title">
          <h1>留学エージェンシー専用の新しい業務システム</h1>
          <p class="lpd-text">少子化による人員不足や、高まる離職率による業務引き継ぎ問題など個人のノウハウに依存する課題を解決できる力がITにはあります。留学エージェンシー業務システム「レオポルド」とは留学エージェンシー業務において毎日繰り返される各種申込管理や出国、入金管理を一つにまとめたシステムです。</p>
          <a href="#contact" class="btn">お問い合わせ</a>
          <a href="#plan" class="btn btn-transparent">プランを見る</a>
        </div>
        <div class="col-md-12 col-sm-12 app-screen">
          <img src="assets/img/app-screen.png" class="img-responsive" alt="screen">
        </div>
      </div>
    </div>
  </section>
  
  <!-- inqury section01  end-->
  <!-- features section start-->
  <section id="features">
    <div class="container">
      <div class="f-contents p-t-60 p-b-60">
        <h2>レオポルド留学エージェンシーシステムの機能</h2>
        <p>基本を押さえて留学エージェント業務を支えるレオポルドシステムの機能を紹介いたします。</p>
        <!-- Feature #01 -->
        <div class="col-md-4 col-sm-4 col-xs-12 f-content-2">
          <div><span class="fa fa-pencil-square-o font-40 lp-color"></span></div>
          <h4 class="m-t-10 no-m-b">申込機能</h4>
          <ul>
            <li>留学申込</li>
            <li>相談申込</li>
            <li>資料請求</li>
          </ul>
        </div>
        <!-- End Feature #01 -->
        <!-- Feature #02 -->
        <div class="col-md-4 col-sm-4 col-xs-12 f-content-2">
          <div><span class="fa fa-file-text-o font-40 lp-color"></span></div>
          <h4 class="m-t-10 no-m-b">業務機能</h4>
          <ul>
            <li>カレンダー</li>
            <li>手続き進捗管理</li>
            <li>出国者統計</li>
            <li>メールテンプレート</li>
          </ul>
        </div>
        <!-- End Feature #02 -->
        <!-- Feature #03 -->
        <div class="col-md-4 col-sm-4 col-xs-12 f-content-2">
          <div><span class="fa fa-cog font-40 lp-color"></span></div>
          <h4 class="m-t-10 no-m-b">管理機能</h4>
          <ul>
            <li>システムユーザ管理</li>
            <li>代理店管理</li>
            <li>メール履歴照会</li>
            <li>説明会管理</li>
            <li>学校管理</li>
          </ul>
        </div>
        <!-- End Feature #03 -->
      </div>
    </div>
  </section>
  <!-- features section end-->
  <!-- inqury section02 start-->
  <section id="inqury-content02" class="grey-bg">
    <div class="container">
      <div class="col-md-6 col-sm-6 col-xs-12 lpd-main-title">
        <h2>
          業務標準化を図り、<br>
          人的ミスを抑えるレオポルドシステム
        </h2>
        <p class="lpd-sub-text">ダッシュボードから日々の状況が一目で見られ、大事なタスクを見逃してしまうことはもうありません。又、様々は検索条件を用いて個別の入金、出国状況をすぐに確認できます。</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 right-contents">
        <img src="assets/img/desktop-content.png" alt="レオポルド留学院システム画面">
      </div>
    </div>
  </section>
  <!-- inqury section02 end-->
  <!-- plan section start-->
  <section id="plan">
    <div class="container">
      <div class="row m-b-40">
        <div class="text-center">
          <h2>レオポルドのご契約プラン・利用料金</h2>
          <!-- <p class="lead">御社サーバをお持ちでない場合、またはサーバ運用までsmaugにご依頼いただく場合の費用です。</p> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12 plans text-center">
          <div class="plan-container">
            <!-- on-premises plan start -->
            <ul class="list-no-type plan-details">
              <li class="title m-b-10">プライベート(オンプレミス)型</li>
              <li class="title m-b-10">初期費用 ¥98万円/初期</li>
              <li class="service m-b-20">
                <ul>
                  <li>ユーザ教育 6時間付き</li>
                  <li>6ヶ月瑕疵担保保証付き</li>
                  <li>インストール作業付き</li>
                </ul>
              </li>
              <li class="title">月額保守費用 ¥14,800万円/月</li>
              <li class="contract">※ご契約単位 6ヶ月~1年</li>
              <li class="service m-b-20">問い合わせ対応、技術サポート<br>瑕疵担保後の不具合対応、サーバ利用料込み</li>
              <li class="button"><a href="#contact" class="btn">お問い合わせ</a></li>
            </ul>
            <!-- on-premises plan end -->
          </div>
        </div>
        <div class="col-md-6 col-sm-12 plans text-center">
          <div class="plan-container">
            <!-- cloud Plan start-->
            <ul class="list-no-type plan-details">
              <li class="title">クラウド型</li>
              <li class="contract">※ご契約単位 6ヶ月~1年</li>
              <li class="title m-b-10">¥39,800円/月</li>
              <li class="title m-b-10">初期費用なし</li>
              <li class="service m-b-40">
                <ul>
                  <li>ユーザ教育 6時間付き</li>
                  <li>クラウドサーバ利用料</li>
                  <li>問い合わせ対応</li>
                  <li>技術サポート</li>
                  <li>不具合対応</li>
                </ul>
              </li>
              <li class="button"><a href="#contact" class="btn btn-transparent">COMMING SOON</a></li>
            </ul>
            <!-- cloud Plan end-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- plan section end-->
  <!-- contact section start-->
  <section id="contact" class="grey-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-md-offset-3 text-center">
          <!-- Title -->
          <h2>お問い合わせ</h2>
          <!-- Description -->
          <p class="lead m-b-40">ご導入プランや機能の詳細などは、お気軽にお問い合わせください。担当者から追ってご連絡いたします。</p>
          <!-- form -->
          <form class="form-horizontal" novalidate [formGroup]="messageForm" (ngSubmit)="sendProcess()">
            <fieldset>
              <div class="form-group col-xs-12" [ngClass]="{'has-error': displayMessage.username }">
                <input class="form m-t-20" id="username" type="text" name="text" placeholder="お名前" formControlName="username" />
                <span class="help-block" *ngIf="displayMessage.username">
                  {{displayMessage.username}}
                </span>
              </div>
              <div class="clear"></div>
              <div class="form-group col-xs-12" [ngClass]="{'has-error': displayMessage.company }">
                <input class="form m-t-20" id="company" type="text" name="text" placeholder="会社名" formControlName="company" />
                <span class="help-block" *ngIf="displayMessage.company">
                  {{displayMessage.company}}
                </span>
              </div>
              <div class="clear"></div>
              <div class="form-group col-xs-12" [ngClass]="{'has-error': displayMessage.tel }">
                <input class="form m-t-20" id="tel" type="tel" name="tel" placeholder="電話番号" formControlName="tel" />
                <span class="help-block" *ngIf="displayMessage.tel">
                  {{displayMessage.tel}}
                </span>
              </div>
              <div class="clear"></div>
              <div class="form-group col-xs-12" [ngClass]="{'has-error': displayMessage.email }">
                <input class="form m-t-20" id="email" type="email" placeholder="E-メール" formControlName="email" />
                <span class="help-block" *ngIf="displayMessage.email">
                  {{displayMessage.email}}
                </span>
              </div>
              <div class="clear"></div>
              <div class="form-group col-xs-12" [ngClass]="{'has-error': displayMessage.homepage }">
                <input class="form m-t-20" id="homepage" type="url" name="url" placeholder="ホームページまたはご住所" formControlName="homepage" />
                <span class="help-block" *ngIf="displayMessage.homepage">
                  {{displayMessage.homepage}}
                </span>
              </div>
              <div class="clear"></div>
              <div class="form-group col-xs-12" [ngClass]="{'has-error': displayMessage.message }">
                <textarea class="form m-t-20" id="message" type="text" name="text" placeholder="お問い合わせ内容" formControlName="message" rows="4" ></textarea>
                <span class="help-block" *ngIf="displayMessage.message">
                  {{displayMessage.message}}
                </span>
              </div>
              <div class="clear"></div>
              <div class="form-group relative fullwidth col-xs-12">
                <span>
                  <button class="btn m-t-20"
                          type="button"
                          (click)="sendProcess()"
                          [disabled]='!messageForm.valid'>{{sendButtonText}}</button>
                  
                </span>
                <span *ngIf="sendComplete" style="display: block; margin-top: 10px;">
                  お問合せいただきまして、誠にありがとうございます。
                  ご送信いただいた内容を確認させていただきまして、担当者よりご連絡をさせていただきます。
                </span>
              </div>
              
            </fieldset>

          </form>
        </div>
      </div>
    </div>
  </section>
