﻿<div>
  <!--<nav class="menu" id="theMenu" [@menuTrigger]="state">
    <div class="menu-wrap">
      <h1 class="logo"><a href="index.html">SMAUG</a></h1>
      <i class="icon-remove menu-close" (click)="toggleMenu()"></i>
      <a href="#home" class="smoothScroll">Home</a>
      <a href="#services" class="smoothScroll">Services</a>
      <a href="#about" class="smoothScroll">About</a>
      <a href="#contact" class="smoothScroll">Contact</a>
      <a href="/Leopold/" class="smoothScroll">Contact</a>
      <a routerLink="/login">.</a>
      <a href="#"><i class="icon-facebook"></i></a>
      <a href="#"><i class="icon-twitter"></i></a>
      <a href="#"><i class="icon-dribbble"></i></a>
      <a href="#"><i class="icon-envelope"></i></a>
    </div>

    
    <div id="menuToggle" 
         (click)="toggleMenu()"><i class="fa fa-bars" aria-hidden="true"></i></div>
  </nav>--> 
  <router-outlet>

  </router-outlet>
</div>
