﻿<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
    <a [routerLink]="['/userEdit', '0']" class="btn btn-sm btn-danger">
      New Member
    </a>
  </div>

  <!-- Filter the Users   -->
  <div class='panel-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row' *ngIf='listFilter'>
      <div class='col-md-6'>
        <h3>Filtered by: {{listFilter}} </h3>
      </div>
    </div>

    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

    <div class='table-responsive'>
      <table class='table'
             *ngIf='users && users.length'>
        <thead>
          <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Tel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let user of users | userFilter:listFilter'>
            <td><a [routerLink]="['/user', user.user_id]">{{ user.user_name }}</a></td>
            <td>{{ user.email | lowercase }}</td>
            <td>{{ user.tel_no }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>