﻿h1 {
  color: #369;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 250%;
}
.loader{
  margin: 100px auto; width:200px;
}

/* LOGO */
.smaugLogoBox {
  display: block;
  text-align: center;
  width: 260px;
  margin: 0 auto;
}
.smaugLogo {
  text-align: center;
  display: inline-block;
}

/* レスポンシブ対応 */

/* スマホ  */ 
@media all and (max-width:768px) { 

#w {
    padding-top: 0px;
}
#w h3 {
  font-weight: 700;
  color: #000;
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 1.4em;
}
}

/* タブレット */
@media all and (min-width:769px) and (max-width:1024px) {

 }

/* デスクトップ */
@media all and (min-width:1025px) {
}