﻿<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home"></section>
<div id="headerwrap">
  <div class="container">
    <br>
    <div class="smaugLogoBox  ">
      <p class="smaugLogo"><img [@imgTrigger]="state"
        (click)="toggleState()" class="img-responsive" src="assets/img/smaug-logo.png"></p>
    </div>
    <!--<p>システム開発専門集団</p>-->
    <!--<div class="row">
      <br>
      <br>
      <br>
      <div class="col-lg-6 col-lg-offset-3">
      </div>
    </div>　臨時コメントアウト　-->
  </div><!-- /container -->
</div><!-- /headerwrap -->
<!-- ========== WHITE SECTION ========== -->
<div id="w">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>
          今まで、<br>
          ITソリューションは莫大な費用、運営ノウハウで、中小企業としては手が届けないものでした。<br>
          チームSmaugは中小企業の業務効率向上のため手軽な費用でITソリューションを提供する業務ソリューション開発専門チームです。
        </h3>
        <p>
          今まで、ウェブやモバイル・WINDOWSアプリケーションなど、ITソリューションは大手メーカーしか導入できなかったシステムでした。<br>
          チームSmaugと一緒なら、お手軽な費用で御社もITソリューションを導入させ活用し、中小企業の限られた人的・資本資源を、ご事業に人的資源・資本を必要なところに、より集中してください。業務効率化はチームSmaugがお手伝い致します。
        </p>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /w -->
<!-- ========== SERVICES - GREY SECTION ========== -->
<section id="services" name="services"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h3>OUR SERVICES</h3>
      <br>
      <br>
      <div class="col-lg-3">
        <img src="assets/img/s1.png">
        <h4>会員管理</h4>
        <p>
          お客様の情報や社員とパート ナーの情報をデータ化し、⼀ 元管理することで 重複なく正確な情報を保つこ とができます。
        </p>
      </div>
      <div class="col-lg-3">
        <img src="assets/img/s2.png">
        <h4>予約管理</h4>
        <p>
          電⼦カレンダーを⽤いて⼀箇 所で⽇程管理をすれば ⼤事なお客様からの来店⽇調 整、スタッフのシフト勤務調 整などを ⼀⽬で把握することができます。
        </p>
      </div>
      <div class="col-lg-3">
        <img src="assets/img/s3.png">
        <h4>販売管理</h4>
        <p>
          ⾒積、受注、請求のシステム 化により、作業の効率化はも ちろん、正確な履歴が管理で きるようにあると取引先とし てど信頼度も上がります。⼀ 度システムに記録した明細で 売上計上、帳票の出⼒が ⼀括で⾏われることで⼤幅に ⽣産性の向上することが期待 できます。
        </p>
      </div>
      <div class="col-lg-3">
        <img src="assets/img/s4.png">
        <h4>物流管理</h4>
        <p>
          ⽇々の在庫管理、商品の保 管、誤出荷、出荷履歴など、 さまざまな課題を、業務シス テム構築によって解決します。
        </p>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /g -->
<!-- ========== CHARTS - DARK GREY SECTION ========== -->
<div id="dg">
  <div class="container">
    <div class="row">
      <h3>サービス内容</h3>
      <p>
        あらゆる場面での業務最適化のため、事務所内/外及びオンライン/オフラインで対応できる技術を備えております。
        また、継続性とメンテ性の高いシステム開発を実現するため、常に最新の技術を取り入れております。
      </p>
      <div class="col-lg-4">
        <h4>PC 画面制作</h4>
        PC画面UIデザイン<br />
        WEB開発<br />
        HTML5<br />
        angularjs2<br />
        C#<br />
        bootstrap4<br />
        JavaScript<br />
        asp.net core<br />
        signalr<br />
        クライアントソフトウェア開発<br />
        Windows 10<br /><br />

      </div>
      <div class="col-lg-4">
        <h4>Mobile 画面</h4>
        Mobile画面UIデザイン<br />
        モバイル画面開発<br />
        モバイルアプリ開発<br />
        Swift (iOS)<br />
        Xamarin (iOS/Android)<br />

      </div>
      <div class="col-lg-4">
        <h4>DBシステム構築</h4>
        DB サーバー構築<br />
        MSSQL<br />
        MYSQL<br />
        MSACCESS<br />
        クラウドサーバー運用<br />
        MS Azure<br />
        AWS<br />

      </div>

    </div>
  </div><!-- /container -->
</div><!-- /dg -->
<!--<section id="portfolio" name="portfolio"></section>
<div id="portfoliowrap">
  <div class="container">
    <div class="row">
      <h3>留学システム</h3>
      <br>
      <br>
      <div class="col-lg-4 port-space">
        <a href="item.html"><img src="img/work1.png"></a>
      </div>
      <div class="col-lg-4 port-space">
        <a href="item.html"><img src="img/work2.png"></a>
      </div>
      <div class="col-lg-4 port-space">
        <a href="item.html"><img src="img/work3.png"></a>
      </div>
    </div>
  </div>
</div>-->
<!-- ========== WHITE SECTION ========== -->
<div id="w">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>
          小規模企業が成功的にシステム導入する為は、小規模企業の限られた核心資源を明確に分析し、企業特性に当てはまる最適なシステムを構築することが最も重要です。<br /><br />
          チームSmaugは貴社の業務システム導入効果はもちろん、業務効率化通じて、限られた核心資源(ヒューマンリソース)をより効率的に活用できるシステムを提供し、貴社をいつも他社より競争優位を占めれる様お手伝いさせてただきます。
        </h3>
      </div>
    </div>
  </div>
</div>
<!-- ========== ABOUT - GREY SECTION ========== -->
<section id="about" name="about"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h3>ABOUT US</h3>
      <br>
      <br>
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <p>
          「こんなシステムあるんだっけ」、「ああいうシステム作れるのか」にお答えします。
          世の中にはいろんなシステムは存在しますが、お客様にびったりのシステムはなかなかありません。
          そこでSmaugはお客様にちょうど合うシステムを白紙から製作可能です。
          PCシステムはもちろん、遠隔地からも簡単に操作可能なWEBシステム、
          それから最近のはやりのモバイルシステムまでユーザの要望に合わせて制作いたします。
        </p>
        <br>
        <br>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-4 team">
        <img class="img-circle" src="assets/img/team01.png" height="90" width="90">
        <h4>崔龍洙</h4>
        <h5><i>営業窓口</i></h5>
        <p>既婚</p>
        <!--<p>
                  ・大学にてコンピュータエンジニアリング学科卒業<br />
        ・IT業界歴10年<br />
        ・Enterprise システム導入コンサルティング (5年)<br />
        ・開発ベンダーマネジメント (1年)<br />
        ・業務用モバイルアプリケーションの提案営業 (4年)<br />
        ・現smaugにて、営業＆契約を担当中
        </p>-->
        <!--<p>
          <a href="index.html#"><i class="icon-facebook"></i></a>
          <a href="index.html#"><i class="icon-twitter"></i></a>
          <a href="index.html#"><i class="icon-envelope"></i></a>
        </p>-->
      </div>
      <div class="col-lg-4 team">
        <img class="img-circle" src="assets/img/team02.png" height="90" width="90">
        <h4>金詠錫</h4>
        <h5><i>デザイナー</i></h5>
        <p>自由人</p>
        <!--<p>武蔵野美術大学出身</p>-->
        <!--<p>
          <a href="index.html#"><i class="icon-facebook"></i></a>
          <a href="index.html#"><i class="icon-twitter"></i></a>
          <a href="index.html#"><i class="icon-envelope"></i></a>
        </p>-->
      </div>
      <div class="col-lg-4 team">
        <img class="img-circle" src="assets/img/team03.png" height="90" width="90">
        <h4>李尚玟</h4>
        <h5><i>システムエンジニア</i></h5>
        <p>独身</p>
        <!--<p> 
          <a href="index.html#"><i class="icon-facebook"></i></a>
          <a href="index.html#"><i class="icon-twitter"></i></a>
          <a href="index.html#"><i class="icon-envelope"></i></a>
        </p>-->
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /g -->
<!-- ========== FOOTER SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3><b>CONTACT US</b></h3>
      <br>
      <div class="col-lg-4">
        <h3><b>Send Us A Message:</b></h3>
        <h3>sales@ml.smaug.jp</h3>
        <br>
      </div>

      <div class="col-lg-4">
        <h3><b>Call Us:</b></h3>
        <h3>080-5185-3807</h3>
        <br>
      </div>

      <div class="col-lg-4">
        <h3><b>We Are Social</b></h3>
        <p>
          <a href="index.html#"><i class="icon-facebook"></i></a>
          <a href="index.html#"><i class="icon-twitter"></i></a>
          <a href="index.html#"><i class="icon-envelope"></i></a>
        </p>
        <br>
      </div>
    </div>

  </div><!-- /container -->
</div><!-- /f -->

<div id="c">
  <div class="container">
    <p>Powered by <a href="#">Smaug</a></p>

  </div>
</div>